@import '/src/styles/variables.scss';

.catalog{
    &__title{
        margin: 0px 0px 0px 0px;
    }

    &__wrapper{
        display: flex;
    }
    
    &__side{
        width: 250px;
        margin-right: 20px;

        .menu{
            background-color: #f5f5f7;
    
            &__li{
                border-bottom: 1px solid #fff;
                padding: 0px 30px 0px 10px;
            }
    
            &__a{
                color: #2e2e2e;
                font-weight: bold;
                font-size: 14px;
                display: inline-block;
                width: 100%;
                padding: 10px 0;
                text-decoration: none;
            }
        }
    }

    &__content{
        width: calc(100% - 20px);
    }

    &__controls{
        display: flex;
        align-items: center;
        margin-bottom: 15px;

        &-views{
            margin-left: auto;
            display: flex;
            align-items: center;

            &-one{
                padding: 11px;
                cursor: pointer;

                &_active{
                    background-color: #f6f6f6;

                    .dot, .line{
                        background-color: $color-blue !important;
                    }
                }

                .wrap{
                    position: relative;
                    width: 18px;
                    height: 18px;
                    display: block;
                }

                &.grid{
                    .dot{
                        width: 8px;
                        height: 8px;
                        border-radius: 2px;
                        position: absolute;
                        background-color: $color-gray;

                        &.first{
                            left: 0px;  
                            top: 0px;
                        }
                        &.second{
                            right: 0px;  
                            top: 0px;
                        }
                        &.third{
                            left: 0px;  
                            bottom: 0px;
                        }
                        &.fourth{
                            right: 0px;  
                            bottom: 0px;
                        }
                    }
                }

                &.short{
                    .line{
                        width: 18px;
                        height: 4px;
                        border-radius: 2px;
                        position: absolute;
                        background-color: $color-gray;
                        left: 0px;

                        &.first{
                            top: 0px;
                        }
                        &.second{
                            top: 50%;
                            margin-top: -2px;
                        }
                        &.third{  
                            bottom: 0px;
                        }
                    }
                }
            }
        }
    }
}