@import '/src/styles/variables.scss';

.cart{
    .breadcrumbs{
        border-bottom: 0px;
        margin-bottom: 10px;
    }

    &__title{
        margin: 0px 0px 20px 0px;
    }

    &__buttons{
        display: flex;
        align-items: center;
        padding: 15px;
        background: #f6f6f6;

        &-right{
            margin-left: auto;
        }
    }

    &__content{
        margin-top: 20px;

        &-header{
            display: flex;
            align-items: center;

            &-column{
                text-align: center;
                padding: 7px 13px;
                color: $color-link;
                font-size: 14px;
                font-weight: bold;
            }
        }

        &-column{
            text-align: center;
            padding: 7px 13px;
        }

        &-one{
            display: flex;
        }

        &-image{
            width: 250px;
            text-align: left;
        }

        &-price{
            width: 100px;
        }

        &-qty{
            width: 150px;

            .qty{
                position: static;
                visibility: visible;
                opacity: 1;
                padding-right: 5px;
                width: 80px;
                margin: 0px auto;

                &__wrapper{
                    width: 80px;
                }
            }
        }

        &-description{
            width: calc(100% - 250px - 100px - 100px - 150px);
            text-align: left;
        }

        &-name{
            font-size: 16px;
            color: $color-blue;
            text-decoration: none;
            margin-right: 10px;
        }     
        
        &-delete{
            color: #a2a2a2;
            cursor: pointer;
        }

        &-options{
            &.sku{
                margin-top: 10px;
            }

            &-label, &-value{
                font-size: 12px;
            }

            &-label{
                margin-right: 5px;
                font-weight: bold;
            }
        }
    }

    &__empty{
        background-color: #fbfbfb;
        height: 200px;
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        &-text{
            margin: 0px auto;
            color: #bdc3c7;
            font-size: 16px;
        }
    }

    &__statistic{
        &-one{
            display: flex;
            margin-bottom: 5px;

            &:last-child{
                margin-bottom: 0px;
            }
        }
        &-title{
            width: 220px;
            text-align: right;
            margin-right: 20px;
        }

        &-value{
            width: calc(100% - 240px);
            text-align: right;
        }
    }

    &__total{
        margin-bottom: 20px;

        &-wrapper{
            border:1px solid #e1e1e1;
            padding: 17px 20px;
            display: flex;
        }

        &-left{
            width: calc(100% - 380px);
        }
        &-right{
            width: 380px;
        }
    }
}