$screen-width-max: 1240px;
$screen-width-min: 290px;

$color-blue: #3e77aa;
$color-gray: #7b7b7b;
$color-orange: #FFA900;
$color-green: #00a046;
$color-link:#2e2e2e;
$color-link-hover:#3e77aa;

$btn-primary-color: #00a046;
$btn-primary-hover-color: #00ba51;
$btn-secondary-color: #646464;
$btn-secondary-hover-color: #717171;
$btn-tertiary-color: #f0f0f0;
$btn-tertiary-hover-color: #fdfdfd;